@use "../../../styles/utilities/" as *;

.container {
    @include centerAndSet(1300px, 5rem);
    @include flexBoxRow(1rem, center, center);
    width: 100%;
    margin: $large-spacing-y;
    &:nth-child(2n+1) {
        flex-direction: row-reverse;
    }

    .content {
        @include flexBoxColumn(1rem, center, center);
        width: 50%;
        .title {
            h1 {
                font-family: $primary-font;
                font-size: $f-xxlarge;
                font-weight: $w-bold;
                width: 100%;
                color: $primary;

                &::after {
                    display: block;
                    margin: 0 auto;
                    content: "";
                    width: 40px;
                    height: 3px;
                    background-color: $tertiary;
                }
            }
        }
    }
    .imageWrap {
        position: relative;
        width: 50%;
        height: 300px;
        border-radius: $border-radius-medium;
        overflow: hidden;

        .img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            // @include fullSize;
        }
        .btn {
            position: absolute;
            display: flex;
            gap: 0.5rem;
            top: 5%;
            right: 2%;
            @include removeButtonStyles;
            color: $gray-200;
            background-color: $tertiary;
            padding: $small-spacing $base-spacing;
            border-radius: $border-radius-large;
            font-weight: $w-semibold;
        }
    }
}
