@use '../../../styles/utilities/' as *;

.container{
    @include centerAndSet(1300px, 5rem);
    @include flexBoxColumn(0.3rem, center, center);
    width: 100%;

    .wrapper{
        width: 100%;
        margin: $large-spacing-y;
        .imageWrap{
            position: relative;
            width: 50%;
            height: 300px;
            img{
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                // @include fullSize;
            }
            .btn{
                position: absolute;
                top: 5%;
                right: 2%;
            }
        }
        @include flexBoxRow(0rem, center, center);

        &:nth-child(2n){
            flex-direction: row-reverse;
        }
        .content{
            width: 50%;
        }
    }
}