@use "../../../styles/utilities/" as *;

.container {
    height: 100%;
    margin-right: auto;
    background-color: $primary;
    width: 15%;
    min-width: 15%;
    @include flexBoxColumn(0.3rem, center, center);
    .logo {
        height: 100px;
        width: 100%;
        margin: $small-spacing-y;
        img {
            @include fullSize;
        }
    }
    .links {
        width: 100%;
        @include flexBoxColumn(0rem, center, flex-start);
        h3 {
            width: 100%;
            color: $gray-300;
            text-align: center;
            padding: $small-spacing-y;
        }
        .items {
            width: 100%;
          
            .link {
                padding: $small-spacing $base-spacing;
                width: 100%;
                list-style: none;
                &:hover {
                    background-color: $primary-hover;
                }
            }
        }
    }

    .logout {
        margin-top: auto;
        width: 100%;
        text-align: center;
        padding: $base-spacing-y;
        background-color: $error;
        font-weight: $w-bold;
        color: $gray-200;
        cursor: pointer;
    }
}
