@use '../../../styles/utilities/' as *;

.container{
    @include flexBoxRow(0.3rem, center, flex-start);
    height: 100%;
    min-height: 100dvh;
    @include centerAndSet(1300px, 5rem);
    padding: $large-spacing-y;
    width: 100%;
    
    .item{
        width: 50%;
        @include flexBoxColumn(0.3rem, flex-start, center);
    }
}