@use "./../../../styles/utilities/" as *;

.container {
    background-color: $primary;
    height: 70dvh;
    .wrapper {
        @include flexBoxRow(0.3rem, center, center);
        height: 100%;
        @include centerAndSet(1300px, 4rem);
        .heading {
            @include flexBoxColumn(0.3rem, center, flex-start);
            height: 100%;
            width: 50%;

            .title {
                font-size: $f-xxxlarge;
                color: $tertiary;
                font-family: $primary-font;
            }

            .desc {
                font-size: $f-large;
                color: $gray-200;
                text-transform: capitalize;
            }
        }
        .imageWrapper {
            height: 300px;
            width: 40%;

            img {
                @include fullSize;
            }
        }
    }

    @include devices(tablet) {
        .heading {
            .title {
                font-size: $f-small;
            }

            p {
                font-size: $f-mobile;
            }
        }

        .imageWrapper {
            height: 200px;
            width: 40%;

            img {
                @include fullSize;
            }
        }
    }

    @include devices(mobile) {
        .wrapper {
            @include flexBoxColumn(0.4rem, center, center);
            @include centerAndSet(800px, 2rem);

            .heading {
                width: 100%;
                height: fit-content;
                margin-top: 4rem;
                text-align: center;
                .title {
                    font-size: $f-xlarge;
                   
                }
                .desc{
                    font-size: $f-medium;
                }
            }

            .imageWrapper {
                height: 300px;
                width: 100%;

                img {
                    @include fullSize;
                }
            }
        }
    }
}
