@use "../../../../styles/utilities/" as *;

.container {
    @include centerAndSet(1300px, 3rem);
    min-height: 100dvh;

    .wrapper {
        @include flexBoxRow(1rem, center, flex-start);

        .content {
            width: 100%;
            height: 100%;
            min-height: 100dvh;
            flex: 2;
            .image {
                margin-top: $large-spacing;
                border-radius: $border-radius-large;
            }
            .description{
               min-height: 50dvh;
               border-bottom: solid 0.1rem $gray-700;
               margin: $large-spacing-y;
             
            }
            .header {
                font-size: $f-medium;
                font-weight: $w-bold;
                margin: $base-spacing-y;
                .title {
                    @include flexBoxRow(0.3rem, space-between, center);
                    padding: $small-spacing 0 $large-spacing 0;
                    color: $gray-900;
                    text-transform: capitalize;
                   
                }
                .author {
                    @include flexBoxRow(0.5rem, flex-start, center);
                    text-align: center;
                    font-weight: $w-normal;
                    .imageProfile {
                        border-radius: 50%;
                        display: flex;
                        overflow: hidden;
                        img {
                            object-fit: cover;
                        }
                    }

                    span {
                        font-weight: $w-bold;
                        font-size: $f-medium;
                    }
                }
            }
        }
    }
}
