@use "../utilities/variable.module.scss" as *;

@mixin centerColumnSpaceBetween($gap) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: $gap;
}

@mixin backgroundColorOpacity($color, $opacity, $blend) {
    background-color: $color;
    opacity: $opacity;
    mix-blend-mode: $blend;
}

@mixin containerStyle($maxWidth, $paddingInline) {
    margin-inline: auto;
    max-width: $maxWidth;
    padding-inline: $paddingInline;
}

@mixin flexBoxColumn($gap, $justify, $align) {
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin flexBoxRow($gap, $justify, $align) {
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}
@mixin centerAndSet($maxWidth, $paddingInline) {
    margin-inline: auto;
    max-width: $maxWidth;
    padding-inline: $paddingInline;
}
