//fonts
//family


$primary-font: 'Britney-Regular';
$secondary-font: 'Quicksand';

//size

$f-mobile: 0.7rem;

$f-small: 0.9rem;
$f-medium: 1rem;
$f-large: 1.5rem;;
$f-xlarge: 2rem;
$f-xxlarge: 2.5rem;
$f-xxxlarge: 3rem;
//weights
$w-light: 300;
$w-normal: 400;
$w-medium: 500;
$w-semibold: 600;
$w-bold: 700;
//fonts


//spacing
$small-spacing-y: 0.5rem 0;
$small-spacing: 0.5rem;
$small-spacing-x: 0rem 0.5rem;

$base-spacing-y: 1rem 0;
$base-spacing: 1rem;
$base-spacing-x: 0px 1rem;


$medium-spacing: 1.5rem;
$medium-spacing-x: 0rem 1.5rem;
$medium-spacing-y: 1.5rem 0;

$large-spacing: 2rem;
$large-spacing-x: 0rem 2rem;   
$large-spacing-y: 2rem 0;

    $base-button-spacing: 0.7rem 1.5rem;

//padding


$base-gap: 5rem;


//border
$border-radius: 0.5rem;

$small-border-thickness: 0.5px solid;
$base-border-thickness: 1px solid;
$medium-border-thickness: 2px solid ;
$large-border-thickness: 3px solid ;
//border
