//fonts
//family


$primary-font: 'Britney-Regular';
$secondary-font: 'Quicksand';

//size
$f-small: 0.8rem;
$f-medium: 1rem;
$f-large: 1.5rem;;
$f-xlarge: 2rem;
$f-xxlarge: 2.5rem;
$f-xxxlarge: 3rem;
//weights
$w-light: 300;
$w-normal: 400;
$w-medium: 500;
//fonts



$base-padding-y: 1rem 0;
$base-padding: 1rem;
$base-padding-x: 0px 1rem;
$base-margin: 1rem;



$base-gap: 5rem;
