@use "../../../styles/utilities/" as *;

.container {
    @include centerAndSet(1300px, 3rem);
    @include flexBoxColumn(0.3rem, center, center);
    width: 100%;
    padding: $large-spacing-y;
    .items {
        // @include gridView(15rem, 1rem);
        @include flexBoxColumn(2rem, center, center);

        .item {
            @include centerAndSet(1300px, 0rem);
            @include flexBoxRow(4rem, center, center);
            .imageWrap {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .content {
                // width: 100%;
                max-width: 900px;
                h2{
                    font-size: $f-xlarge;
                    font-weight: $w-bold;
                    color: $primary;
                    // padding: $small-spacing-y;
                }
                h4{
                    padding: $small-spacing-y;
                    color: $tertiary;
                    font-size: $f-large;
                }
            }
            &:nth-child(2n) {
                flex-direction: row-reverse;
          
            }
        }
    }
}