@use "../../../../styles/utilities/" as *;

.container {
    // @include fullSize;
    min-height: 100%;
    @include centerAndSet(1200px, 2rem);
    // @include flexBoxColumn(0.3rem, center, space-between);
    font-size: $f-small;
    .topHeader {
        display: flex;
        margin: $large-spacing-y;
        width: 100%;

        .link {
            margin-left: auto;
            text-align: center;
            font-weight: $w-semibold;
            color: $gray-100;

            border-radius: $border-radius-medium;
            padding: $small-spacing $base-spacing;
            background-color: $primary;
        }
        // &:hover{
        //     background-color: ;
        // }
    }

    // @include flexBoxRow(1rem, center, center);
    padding: $small-spacing-y;
    // color: $error;
    table {
        padding-top: $large-spacing;
        width: 100%;
        border-collapse: collapse;
        border-radius: $border-radius-medium;
        overflow: hidden;
        thead {
            background-color: $primary;
            color: $gray-200;

            th {
                padding: $small-spacing;
            }
        }

        tbody {
            font-weight: $w-normal;
            tr {
                // @include flexBoxRow(0rem, flex-start, center);
                background-color: $gray-100;
          
            }
        }
    }
    .center {
        align-items: center;
    }

    .title {
        // @include textClamp(1);
        padding: $base-spacing-x;
        // display: flex;
        // margin-block: auto;
    }

    .desc {
        @include textClamp(1);
        padding: $base-spacing-x;
        max-width: 600px;
    }
    .date {
        text-align: center;
    }
}
