@use "../../../../../styles/utilities/" as *;

.container {
    @include flexBoxRow(1rem, center, flex-start);
    padding: $large-spacing-y;
    .wrapper {
        .image {
            height: 300px;
            width: 800px;
         
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
     
        
        .divide {
            
            width: 100%;
            @include flexBoxRow(0rem, center, center);
        }
    }
    // @include flexBoxColumn(0rem, center, center);
}